language: python
sudo: false
python:
  - "2.7"
services: mongodb
  - "3.2.3"

cache:
  directories:
    - $HOME/.cache/pip

install:
  - travis_retry pip install -r requirements.txt

script:
  - python --version
  - make unittest
  # - behave -f progress --junit --tags=~@xfail features/
  # - python -m unittest discover tests/

after_failure:
  # - echo "FAILURE DETAILS (from XML reports):"
  # - bin/behave.junit_filter.py --status=failed reports
